body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
}

.body{
  height: 100vh;
}

.main-container {
  background-color: green;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.register-text{
  color: rgb(6, 149, 201);
}

.site-logo-div{
  width: 65%;
}

.signup-box{
  width: 26rem;
}

.check-box{
  width: 1.4rem;
  height: 1.4rem;
}

.terms{
  line-height: 18px;
}

.job-seeker{
  cursor: pointer;
}

.already-have-an-account,
.no-account-yet {
  font-size: 16px;
  font-weight: bold;
}

/* CircleLoader3.css */
.circle-loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.circle {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 50%;
  animation: pulsate 1.2s ease-in-out infinite;
}

/* SpinnerLoader.css */
.spinner-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.spinner {
  border: 5px solid black;
  border-top: 5px solid rgb(0,175,239);
  border-radius: 50%;
  width: 60%;
  height: 60%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small-loader{
  bottom: 0;
}

@keyframes pulsate {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}
.loader-div{
  top: 0;
  width: 90%;
  height: 100%;
  /* background-color: rgba(255, 255, 255, 0.678); */
}
/* ------------------modal loader style -----------------*/

/* Loader Styles */


.loader img {
  max-width: 15%; /* Adjust the size of your logo as needed */
  max-height: 15%;
  animation: zoom 0.4s alternate infinite, fade 0.8s alternate infinite; /* Zoom and fade animations */
  background-color: rgb(5, 5, 5);
  background-color: white;
  border: 5px solid rgb(0,175,239);
}

/* Keyframes for Zooming Animation */
@keyframes zoom {
  0% {
      transform: scale(0.6);
  }
  100% {
      transform: scale(1.1); 
  }
}

/* Keyframes for Fading Animation */
@keyframes fade {
  0%, 100% {
      opacity: 0.3; /* Set the initial and final opacity */
  }
  50% {
      opacity: 1; /* Set the opacity when fully zoomed out */
  }
}



/* -----------------modal loader end------------------------------- */


/* Add this CSS to your main stylesheet or create a new CSS file */
.skill-button {
  background-color: rgb(0,175,239);
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.skill-button.selected {
  background-color: rgb(10, 117, 156); /* A deeper color for selected skills */
}

.skill-page{
  height: 100vh;
}

.sidebar{
  top: 3rem;
  width: 16rem;
  height: 92.5vh;
  background-color: rgb(55,52,53);
  color: white;
}

@media only screen and (max-width: 1025px) {
  .sidebar {
    display: none;
  }

  .current-page-name-div{
    display: none;
  }


} 

.search-input{
  width: 15rem;
  padding-left: 2rem;
  outline: none;
  border: 1px solid rgb(36,64,52);
}

@media only screen and (max-width: 670px) {
  .search-input {
    display: none;
  }
}

.navbar{
  background-color: rgb(212, 216, 215); 
  height: 3rem;
}

.content-container{
  left: 15.9rem;
  height: 76.3vh;
  top: 9.5rem;
  position: absolute;
  width: 81.4%;
}

@media only screen and (max-width: 1025px) {
  .content-container {
    left: 0;
    width: 100%;
  }
}

.post-a-job-btn{
  background-color: rgb(36,64,52);
  color: rgb(0,175,239);
  font-size: 15px;
  font-weight: 500;
  transition: all 0.3s linear;
}

.post-a-job-btn:hover{
  background-color: rgb(0,175,239);
  color: black;
}

.inner-content-div{
  /* background-color: rgb(124, 155, 167); */
  background-color: rgb(212, 216, 215); 
  background-color: white;
}

.banner-div{
  background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(./image/banner.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  padding: 2.5rem;
  top: 3rem;
  position: fixed;
  left: 15.9rem;
  width: 81.4%;
  z-index: 1000;
}

.cover-banner{
  background-color: rgba(0, 0, 0, 0.178);
  height: 4rem;
  padding: 3rem;
}

@media only screen and (max-width: 670px) {
  .cover-banner {
    height: 3.5rem;
  }

  .banner-div {
    padding: 3.5rem;
  }
}


@media only screen and (max-width: 425px) {
  .cover-banner {
    /* padding-top: 5rem; */
  }
}

@media only screen and (max-width: 385px) {
  .cover-banner {
    /* padding-top: 6rem;
    height: 30px; */
  }
}

.cover-banner h6{
  font-size: 18px;
  align-self: center;
}


.toggle-btn-div {
  display: none;
}

@media only screen and (max-width: 1025px) {
  .toggle-btn-div {
    display: block;
  }

  .menu-icon {
    font-size: 2.5rem;
  }
}

.new-div{
  padding: 0 3.5rem;
}

.search-icon-div{
  left: 0.5rem;
}

@media only screen and (max-width: 670px) {
  .search-icon-div{
    width: 2rem;
    height: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    /* background-color: white; */
    left: -1.5rem;
    top: -15px;
  }

  .search-icon{
    font-size: 1.5rem;
  }

  .menu-icon {
    font-size: 2rem;
  }

  .post-job-btn{
    display: none;
  }
}

.logo-div{
  width: 10rem;
}

.profile-picture-div{
  width: 4.5rem;
  height: 4.5rem;
}

.username-div{
  width: 80%;
  cursor: pointer;
}

.username-div h5{
  font-size: 18px;
}

.arrow-down-div{
  top: 0;
  right: 1rem;
}

button{
  background-color: inherit;
}

.drop-btn:hover{
  background-color: rgb(212, 216, 215);
}

.side-menu-div{
  /* width: 80%; */
}

.side-menu-div button{
  color: white;
}


.side-menu-div h5{
  font-size: 17px;
}

.dashboard-icon-div{
  width: 1.5rem;
}

.employer-dashboard-text{
  color: rgb(0,175,239);
}

.dashboard{
  background-color: rgb(0,175,239);
}

.side-menu-btn:hover{
  color: rgb(0,175,239);
  background-color: rgb(85, 81, 82);
}

.parent-box{
  display: flex;
  flex-wrap: wrap;
  gap: 3.61rem;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
}

.box{
  background-color: #fff;
  box-shadow: 0 2px 6px rgba(0,0,0,0.08);
  padding: 8px 5px;
  border-radius: 4px;
  width: 8rem;
  cursor: default;
  transition: 0.3s;
}

@media only screen and (max-width: 1425px) {
  .box {
    /* width: 12rem; */
    margin-top: 5px;
  }
}

@media only screen and (max-width: 1297px) {
  .box {
    width: 14rem;
  }
}

@media only screen and (max-width: 1103px) {
  .box {
    width: 17rem;
  }
}

@media only screen and (max-width: 1025px) {
  .box {
    width: 20rem;
  }
}

@media only screen and (max-width: 838px) {
  .box {
    width: 16rem;
  }
}

@media only screen and (max-width: 818px) {
  .box {
    width: 18rem;
  }
}

@media only screen and (max-width: 758px) {
  .box {
    width: 16rem;
  }
}

@media only screen and (max-width: 678px) {
  .box {
    width: 15rem;
  }
}


@media only screen and (max-width: 650px) {
  .box {
    width: 14rem;
  }
}

@media only screen and (max-width: 615px) {
  .box {
    width: 12rem;
  }
}

@media only screen and (max-width: 555px) {
  .box {
    width: 10rem;
  }
}

@media only screen and (max-width: 488px) {
  .box {
    width: 8rem;
  }
}

@media only screen and (max-width: 431px) {
  .box {
    width: 6rem;
  }
}

.icn-div{
  background-color: rgb(0,175,239);
  width: 2.5rem;
  height: 2.5rem;
}

.profile-view-div{
  width: 100%;
}

.recently-applied-job-div{
  /* width: 25rem; */
  /* margin-left: 2rem; */
}

.link{
  text-decoration: none;
}

.job-text{
  color: rgb(49,121,90);
}

.job-input{
  padding: 12px;
  border: 1px solid rgb(229,229,229);
  outline: none;
  font-size: 18px;
}

.salary{
  width: 44.6%;
}

.profile-view-inner-div{
  display: flex;
}

.cancel-btn{
  color: rgb(49,121,90);
  font-weight: 600;
  font-size: 18px;
}

/* user-styling */
.job-display-div:hover .job-desc-text{
  color: rgb(5, 115, 218);
}

.job-type{
  background-color: rgba(0, 81, 255, 0.178);
}

.jobType-text, .skill-text{
  font-weight: 600;
}

.jobs-div{
  transition: all 0.1s linear;
}

.jobs-div:hover{
  transform: scale(1.02);
}

.jobTitle-text{
  font-weight: 600;
}

.skill-div{
  background-color: rgba(0, 81, 255, 0.37);
}


::-webkit-scrollbar{
  display: none;
}














