body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

*{
  border: 0;
  margin: 0;
  padding: 0;
}

.body{
  height: 100vh;
}

.signup-box{
  width: 26rem;
}

.check-box{
  width: 1.4rem;
  height: 1.4rem;
}

.terms{
  line-height: 18px;
}

.job-seeker{
  cursor: pointer;
}

/* CircleLoader3.css */
.circle-loader3 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 80px;
}

.circle {
  width: 100%;
  height: 100%;
  border: 5px solid black;
  border-radius: 50%;
  animation: pulsate 1.2s ease-in-out infinite;
}

@keyframes pulsate {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.2);
  }
}

.loader-div{
  top: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.11);
}

/* SpinnerLoader.css */
.spinner-loader {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
}

.spinner {
  border: 3px solid black;
  border-top: 3px solid orangered;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.small-loader{
  bottom: 0;
}

/* Add this CSS to your main stylesheet or create a new CSS file */
.skill-button {
  background-color: #36D7B7;
  color: #fff;
  border: none;
  padding: 8px 16px;
  margin: 4px;
  border-radius: 4px;
  cursor: pointer;
}

.skill-button.selected {
  background-color: #269c8f; /* A deeper color for selected skills */
}

.skill-page{
  height: 100vh;
}

.sidebar{
  top: 0;
  width: 16rem;
  height: 100vh;
}

.search-input{
  width: 15rem;
  padding-left: 2rem;
  outline: none;
}

.navbar{
  margin-left: 19.5rem;
  margin-right: 2rem;
  background-color: rgb(212, 216, 215);
}

.content-container{
  margin-left: 16rem;
  height: 100vh;
}

.post-a-job-btn{
  background-color: rgb(36,64,52);
  color: white;
  font-size: 18px;
  font-weight: 500;
  transition: all 0.3s linear;
}

.post-a-job-btn:hover{
  background-color: rgb(210,243,76);
  color: black;
}

.inner-content-div{
  border-radius: 4rem 0 0 4rem;
  padding: 6rem 3.5rem;
  background-color: rgb(212, 216, 215);
}

.search-icon-div{
  left: 0.5rem;
}

.logo-div{
  width: 70%;
}

.profile-picture-div{
  width: 4.5rem;
  height: 4.5rem;
}

.username-div{
  width: 80%;
  cursor: pointer;
}

.username-div h5{
  font-size: 18px;
}

.arrow-down-div{
  top: 0;
  right: 1rem;
}

button{
  background-color: inherit;
}

.drop-btn:hover{
  background-color: rgb(212, 216, 215);
}

.side-menu-div{
  width: 80%;
}

.side-menu-div h5{
  font-size: 17px;
}

.dashboard-icon-div{
  width: 1.5rem;
}

.side-menu-btn:hover{
  color: green;
}

::-webkit-scrollbar{
  display: none;
}



